<!DOCTYPE html>
<html>
    <head>
        <title>Tourism Reviewing System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/editPlaces.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
<body>
     <body>
  <nav class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-tent"></span>TourismReview</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                <% } else { %>
                    <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
          </div>
      </div>
  </nav>
  
  <div class="container">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger"><p><%=error %></p></div>
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success"><p><%= success %></p></div>
     <% } %>
  </div>


  <div id="container" class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div id="bg" class="col-md-4 col-sm-4 col-xs-12">
        
                <form class="form-container" action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h1 id="h1" style="text-align:center">Edit <%= campground.name %></h1>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[name]" value="<%=campground.name%>">
                    </div>
                      <div id="image" class="form-group">
                        <input type="file" id="image" name="image" accept="image/*">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[description]" value="<%=campground.description%>">
                    </div>
                     <div class="form-group">
                        <input class="form-control" type="number" name="campground[price]" value="<%=campground.price%>">
                    </div>
                    
                     <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
         <a id="GoBack" href="/campgrounds">Go Back</a>
                
            
                </form>
               
            </div>
            </div>
            
    </div>
</div>
<% include ../partials/footer %>